name: Test

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache-dependency-path: |
            go.sum
            bench/go.sum

      - name: Test (root module)
        run: go test ./...

      - name: Test (bench module)
        working-directory: bench
        run: go test ./...
